################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/serapis
/San_Miguel
/rungholt
/Release
/powerplant
/packages
/lost-empire
/Helmet
/Debug
/controlPanel
/Cerberus
/cache
/breakfast_room
/x64
/vokselia_spawn
/textures
/vokselia_spawn.zip
/sponza.zip
/sponza.obj
/serapis.zip
/San_Miguel.zip
/rungholt.zip
/powerplant.zip
/Portable.vcxproj.user
/lost-empire.zip
/deferredRendering.vcxproj.user
/cube.obj
/breakfast_room.zip
/bedroom.zip
