<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assimp" version="3.0.0" targetFramework="native" />
  <package id="Assimp.redist" version="3.0.0" targetFramework="native" />
  <package id="directxtex_desktop_2015" version="2019.4.26.1" targetFramework="native" />
  <package id="fx11_desktop_2015" version="2018.9.7.1" targetFramework="native" />
</packages>